*{
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  
}
body{
  background-color: #D5F3FE;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.container{
  background-color: white;
  width: 500px;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin-top: 100px
}
input{
  width: 375px;
  outline: none;
  margin-right: 5px;
  /* border: none; */
}
h2{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
button{
  width: 55px;
  background-color: rgb(55, 198, 255);
  color: white;
  outline: none;
  border: none;
  height: 23px;
}
.grocery-container{
   padding-top: 10px;
}
.clear{
  padding-top: 10px;
  color: rgb(185, 10, 10);
  text-align: center;
  font-weight:400;
  cursor:pointer;

}
article{
  display: flex;
  position: relative;
  padding: 5px;
  background-color: #D5F3FE ;
}
.icons{
  align-self: flex-end;
  position: absolute;
  right: 0;
}
.icon2{
  margin-left:15px;
  color: rgb(252, 132, 132) ;
  font-weight: 200;
}
.icon1{
  color: rgb(110, 207, 110) ;
  font-weight: 200;
}
.alert-success{
  background-color: rgb(110, 207, 110);
  text-align: center;
  padding: 2px;
  color:rgb(5, 94, 5);
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px
}
.alert-danger{
  background-color: rgb(252, 132, 132);
  text-align: center;
  padding: 2px;
  color: rgb(104, 5, 5);
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px
}
.list{
  margin-top: 10px;
  margin-bottom: 15px;
}

article:hover{
  background-color: #c0e2ee ;
}
.list article:nth-child(odd) {
  background: white ;
}
.list article:nth-child(odd):hover {
  background:  #c0e2ee
}
@media (max-width:530px) {
  .container{
    background-color: white;
    width: 400px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 100px
  }
  input{
    width: 250px;
    outline: none;
    margin-right: 5px;
    /* border: none; */
  }
  .icons{
    align-self: flex-end;
    position: absolute;
    right: 0;
  }
  article{
    width: 310px;
  }
  
}

@media (max-width:420px) {
  .container{
    background-color: white;
    width: 300px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 100px
  }
  input{
    width: 210px;
    outline: none;
    margin-right: 5px;
    /* border: none; */
  }
  .icons{
    align-self: flex-end;
    position: absolute;
    right: 0;
  }
  article{
    width: 270px;
  }
  .alert-danger{
    width: 250px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .alert-success{
    width: 250px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
}

@media (max-width:380px) {
  .container{
    background-color: white;
    width: 250px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 100px
  }
  input{
    width: 170px;
    outline: none;
    margin-right: 5px;
    /* border: none; */
  }
  .icons{
    align-self: flex-end;
    position: absolute;
    right: 0;
  }
  article{
    width: 230px;
  }
  .alert-danger{
    width: 230px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .alert-success{
    width: 230px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
}